:root {
  --dark-beige: #a9845c;
  --hell-beige: #ffd6a8;
  --red-brown: #b14101;
  --text-main: #ffffff;
  --hell-text: #dadada;
  --dark-text: #3b3937;
}
html,
body {
  width: 100%;
}
.cont-wrap {
  padding-top: 30px;
  width: 100%;
  background-color: #3b3937;
  height: 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}
.logocon {
  width: 200px;
}
.ul-nav {
  display: flex;
  list-style: none;
  width: 550px;
  justify-content: space-around;
  font-size: 16px;
  padding-top: 10px;
}
a {
  text-decoration: none;
  color: var(--text-main);
  cursor: pointer;
}
a:hover {
  color: var(--hell-beige);
}
.logo {
  width: 70px;
}
.num-email {
  display: flex;
  width: 400px;
  justify-content: space-around;
  color: var(--hell-beige);
  padding-top: 10px;
  cursor: pointer;
}
.num {
  font-weight: 300;
}
.catalog {
  height: 55px;
  width: 115px;
  position: relative;
}
.top {
  position: absolute;
  right: 5px;
  top: 0;
}
.bottom {
  position: absolute;
  bottom: 0px;
  left: 15px;
}
.catalog-span {
  background-color: var(--dark-beige);
  padding: 10px 30px;
  text-shadow: 1px 1px 2px var(--dark-text);
  font-weight: 400;
  position: absolute;
  top: 5px;
  left: 0px;
}
.catalog-span:hover {
  color: var(--dark-text);
}

.podrobnee {
  background-color: var(--dark-beige);
  color: var(--text-main);
  padding: 10px 20px;
}
.hero-img {
  background-image: url(/img/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 85vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 40px;
}
.wrapper {
  position: relative;
}
.cover {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgba(27, 27, 29, 0.75);

  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 20vh;
  width: 30%;
  height: 60%;

  border-radius: 50%;
}
.hero-text {
  text-align: center;
  padding-top: 100px;
  color: var(--text-main);
}
.h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 2rem;
}
.exterior {
  color: var(--hell-beige);
  font-family: "Raleway", sans-serif;
}
.door-1,
.door-2 {
  max-width: 1000px;
}
.door-1-p {
  color: var(--dark-text);
  width: 600px;
}
.h2 {
  padding: 20px 0px;
  font-weight: 600;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
}
.red-p {
  color: var(--red-brown);
  font-size: 15px;
  line-height: 27px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: right;
  padding-right: 50px;
}
/* vitrina-tovarov */
.vitrina-tovarov {
  padding: 100px 0px 50px 0px;
  font-size: 60px;
  font-weight: 600;
}
.box {
  border: 1px solid var(--hell-text);
  margin: 20px;
  height: 380px;
  width: 400px;
  padding: 20px;
}
.buy {
  color: var(--red-brown);
  font-weight: 600;
  font-size: 18px;
  text-align: right;
  display: block;
  padding-top: 30px;
}
.model {
  font-style: 18px;
  letter-spacing: 0.01em;
  text-align: left;
}
.price {
  font-weight: 700;
  text-align: left;
}
.door-model-img {
  margin: auto;
  height: 200px;
  display: block;
}

/* tabs */
.tabs {
  font-size: 0;
  text-align: center;
  width: 1300px;
}

.tabs > input[type="radio"] {
  display: none;
}

.tabs > div {
  /* скрыть контент по умолчанию */
  display: none;

  padding: 10px 15px;
  font-size: 16px;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked ~ #content-1,
#tab-btn-2:checked ~ #content-2,
#tab-btn-3:checked ~ #content-3,
#tab-btn-4:checked ~ #content-4,
#tab-btn-5:checked ~ #content-5 {
  display: block;
}

.tabs > label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid var(--hell-text);
  padding: 15px 50px;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 1px;
}

.tabs > label:not(:first-of-type) {
  border-left: none;
}

.tabs > input[type="radio"]:checked + label {
  border: 1px solid var(--dark-text);
  font-weight: 400;
}
/*
#content-5,
#content-4,
#content-3,
#content-2 {
  padding: 100px;
}
*/
/* form block*/

.container-form {
  background-color: #f3f0ee;
  max-width: 1300px;
  margin: 50px auto;
  display: flex;
}
.form-img {
  width: 500px;
  height: 600px;
}
.text-field {
  padding: 90px 70px;
}
.h2-form {
  font-weight: 600;
  font-size: 64px;
}
.form-p {
  font-weight: 300;
  font-size: 22px;
  line-height: 140%;
  width: 500px;
  padding: 20px 0px;
}
.form-input {
  padding: 15px 30px;
  margin-right: 10px;
  width: 250px;
  border: none;
  color: var(--hell-text);
}
.contact-us {
  background-color: var(--dark-beige);
  color: var(--text-main);
  border: none;
  padding: 15px 50px;
  margin-top: 20px;
  width: 250px;
}
/*news block */
.news {
  position: relative;
}
.all-articles {
  color: var(--dark-text);
  border: 1px solid var(--hell-text);
  padding: 10px 50px;
  position: absolute;
  right: 50px;
  top: 20px;
  display: inline-block;
}
.news-box {
  border: 1px solid var(--hell-text);
  box-sizing: border-box;
  padding: 0px;
  width: 400px;
  margin: 15px 15px;
  height: 455px;
  position: relative;
}
.news-h2 {
  font-size: 58px;
  color: var(--dark-text);
  margin-bottom: 20px;
}
.news-img {
  width: 409px;
}

.card-h2 {
  font-weight: 700;
  font-size: 21px;
  width: 400px;
  padding: 30px 30px 15px 30px;
}
.card-p {
  font-weight: 400;
  font-size: 12px;
  color: var(--dark-text);
  opacity: 0.6;
  width: 400px;
  padding: 0px 30px 10px 30px;
}

.read-more {
  position: absolute;
  bottom: 15px;
  left: 30px;
  font-size: 12px;
  font-weight: 700;
  color: var(--red-brown);
}
.date {
  position: absolute;
  right: 30px;
  bottom: 15px;
  font-size: 12px;
}

/*  footer */

.foot-wrap {
  position: relative;
  background-color: var(--dark-text);
  margin-top: 50px;
  padding-top: 50px;
  height: 35vh;
  color: var(--text-main);
  font-weight: 100;
}
.fabric {
  padding-top: 20px;
}
.footer-ul-2,
.footer-ul-1 {
  list-style: none;
  line-height: 32px;
}
.policy {
  position: absolute;
  bottom: 55px;
}
.messenger-i {
  position: absolute;
  top: 50px;
  right: 50px;
}
.adress {
  line-height: 32px;
}
.num-footer {
  font-weight: 500;
  font-size: 24px;
}
@media screen and (max-width: 992px) {
  html,
  body {
    width: 100%;
    margin: 0px 0px;
  }
  .cont-wrap {
    padding-top: 10px;
  }
  .logocon {
    width: 60px;
    margin: 10px auto;
  }
  .ul-nav {
    width: 255px;
    font-size: 14px;
    padding: 5px 5px 0px 5px;
   margin: 0px auto;

  }

  .logo {
    width: 60px;
  }
  .num-email {
    display: none;
  }

  .catalog {
   display: none;
  }
  .top {
    display: none;
  }
  .bottom {
    display: none;
  }
  .catalog-span {
    display: none;
  }

  .hero-img {
    background-size: 120%;
width: 100%;
    height: 50vh;
   margin: 0px;
  }
  .wrapper {
    position: relative;
  }
  .cover {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgba(27, 27, 29, 0.75);

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 20px;
    width: 60%;
    height: 55%;
    border-radius: 50%;
  }
  .hero-text {
    text-align: center;
    padding-top: 100px;
    color: var(--text-main);
   
  }
  .exterior{
    display: none;
  }
  .invite{
    display: none;
  }
  .podrobnee{
    display: none;
  }
  .col{
    margin-left: 0px;
    padding-left: 0px;

  }
  .h3 {
    font-size: 24px;
  }
  .door-1-img {
    width: 100vw;
    margin: 0px 0px;
    padding: 0px 0px;
  }
  .door-1,
  .door-2 {
    width: 100vw;
    margin: 0px 0px;
    padding: 0px 0px;
  }
  .door-1-p {
    color: var(--dark-text);
    width: 370px;
    padding-left: 10px;
  }
  .h2 {
    padding: 20px 0px 20px 10px;
    font-weight: 600;
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
  }
  .red-p {
    color: var(--red-brown);
    font-size: 15px;
    line-height: 27px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: right;
    padding-right: 50px;
  }
  /* vitrina-tovarov */
  .vitrina-tovarov {
    display: none;
  }

  .box {
    /*
    border: 1px solid var(--hell-text);
    margin: 15px 0px;
    height: 370px;
    width: 360px;
    padding: 15px 5px;
    */
    display: none;
  }
  .buy {
    color: var(--red-brown);
    font-weight: 600;
    font-size: 18px;
    text-align: right;
    display: block;
    padding-top: 30px;
    width: 60px;
  }
  .model {
    font-size: 18px;
    letter-spacing: 0.01em;
    text-align: left;
  }
  .price {
    font-weight: 700;
    text-align: left;
  }
  .door-model-img {
    margin: 0px 0px;
    height: 200px;
    display: block;
    width: 200px;
    padding: 0px 0px;
  }

  /* tabs */
  .tabs {
    display: none;
  }

  .tabs > input[type="radio"] {
    display: none;
  }

  .tabs > div {
    /* скрыть контент по умолчанию */
    display: none;
  }

  /* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
  #tab-btn-1:checked ~ #content-1,
  #tab-btn-2:checked ~ #content-2,
  #tab-btn-3:checked ~ #content-3,
  #tab-btn-4:checked ~ #content-4,
  #tab-btn-5:checked ~ #content-5 {
    display: none;
    
  }

  .tabs > label {
    display: none;
  }

  .tabs > label:not(:first-of-type) {
    display: none;
  }

  .tabs > input[type="radio"]:checked + label {
    display: none;
  }
  /*
  #content-5,
  #content-4,
  #content-3,
  #content-2 {
    padding: 100px;
  }
  */
  /* form block*/

  .container-form {
    background-color: #f3f0ee;

    margin: 50px auto;
    display: block;
  }
  .form-img {
    width: 100%;
  }
  .text-field {
    padding: 90px 70px;
  }
  .h2-form {
    font-weight: 600;
    font-size: 36px;
  }
  .form-p {
    font-weight: 300;
    font-size: 22px;
    line-height: 140%;
    width: 300px;
    padding: 20px 0px;
  }
  .form-input {
    padding: 15px 30px;
    margin-right: 10px;
    width: 250px;
    border: none;
    color: var(--hell-text);
  }
  .contact-us {
    background-color: var(--dark-beige);
    color: var(--text-main);
    border: none;
    padding: 15px 50px;
    margin-top: 20px;
    width: 250px;
  }
  /*news block */
  .news {
    position: relative;
  }
  .all-articles {
   display: none;
  }
  .news-box {
    border: 1px solid var(--hell-text);
    box-sizing: border-box;
    padding: 0px;
    width: 400px;
    margin: 0px auto;
    height: 455px;
    position: relative;
  }
  .news-h2 {
    font-size: 34px;
    color: var(--dark-text);
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 0;
  }
  .news-img {
    width: 100%;
  }

  .card-h2 {
    font-weight: 700;
    font-size: 21px;
    width: 370px;
    padding: 30px 30px 15px 30px;
    margin-right: 0;
    margin-left: 0;
  }
  .card-p {
    font-weight: 400;
    font-size: 12px;
    color: var(--dark-text);
    opacity: 0.6;
    width: 370px;
    padding: 0px 0px 10px 30px;
    margin-right: 0;
    margin-left: 0;
  }

  .read-more {
    position: absolute;
    bottom: 15px;
    left: 30px;
    font-size: 12px;
    font-weight: 700;
    color: var(--red-brown);
  }
  .date {
    position: absolute;
    right: 30px;
    bottom: 15px;
    font-size: 12px;
  }

  /*  footer */

  .foot-wrap {
    position: relative;
    background-color: var(--dark-text);
    margin-top: 50px;
    padding-top: 50px;
    height: 75vh;
    color: var(--text-main);
    font-weight: 100;
    display: block;
  }
  .logo-footer{
    padding-left: 30px;
    width: 90px;
  
  }
  footer .col{
    height: 250px;
  }
.logo-col{
  height: 50px;
}
  
  .fabric {
    padding-top: 20px;
    padding-left: 35px;
  }
  .rights{
    padding-left: 35px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .footer-ul-2,
  .footer-ul-1 {
    list-style: none;
    line-height: 32px;
    padding-top: 0px;
    width: 150px;
    
  }
  .footer-ul-1{
  margin-top: 0;
  padding-top: 0;
  }
  .footer-ul-2{
  
    right: 0px;
  }
  .policy {
    position: relative;
    bottom: 10px;
  }
  .messenger-i {
    position: absolute;
    top: 10px;
    right: 50px;
  }
  .adress {
    line-height: 32px;

  }
  .num-footer {
    font-weight: 500;
    font-size: 14px;
  }
}
